AddDefaultCharset utf-8
Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteRule ^image/(.*) cgi/image.py/$1 [L]
RewriteRule ^post/(.*) cgi/post.py/$1 [L]
RewriteRule ^tag/(.*) cgi/tag.py/$1 [L]
RewriteRule ^search/(.*) cgi/search.py/$1 [L]
RewriteRule ^rotate/(.*) cgi/rotate.py/$1 [L]
RewriteRule ^modify-tag cgi/modify-tag.py [L]
