AddDefaultCharset utf-8
Options +FollowSymLinks -MultiViews
RewriteEngine On

# mod_rewrite doesn't really listen to [L] as you would expect when used
# in a .htaccess file, but in this case it works anyway.
RewriteRule ^image/(.*) cgi/image.py/$1 [L]
RewriteRule ^post/(.*) cgi/post.py/$1 [L]
RewriteRule ^tag/(.*) cgi/tag.py/$1 [L]
RewriteRule ^search(?:/.*)?$ cgi/search.py [L]
RewriteRule ^rotate/(.*) cgi/rotate.py/$1 [L]
RewriteRule ^modify-tag(?:/.*)?$ cgi/modify-tag.py [L]
RewriteRule ^ajax-completetag(?:/.*)?$ cgi/ajax-completetag.py [L]
RewriteRule ^ajax-tag(?:/.*)?$ cgi/ajax-tag.py [L]
RewriteRule ^ajax-createtag(?:/.*)?$ cgi/ajax-createtag.py [L]
RewriteRule ^browse/(.*) cgi/browse.py/$1 [L]
RewriteRule ^$ cgi/search.py?pq=ALL [L]

# deny any files except the ones we know we want to serve.
RewriteCond $1 !^static/
RewriteCond $1 !^cgi/
RewriteCond $1 !=robots.txt
RewriteCond $1 !=favicon.ico
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ $1 [F,L]
