body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #00c;
}
a:hover {
	text-decoration: underline;
}

#tags {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #090;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 150px;
}
.tag {
	background-color: #f3fff7;
	padding: 0.05em 0.2em 0.05em 0.2em;
}
.implied {
	background-color: #fff3f7;
}
li:nth-child(even) {
	opacity: 0.93;
}

#rescaled-msg {
	border: 2px outset #888;
	padding: 2px 6px 2px 6px;
	background-color: #ddd;
	color: #b00;
	display: none;
	text-align: center;
	margin-bottom: 8px;
}

#main {
	z-index: 2;
	position: absolute;
	left: 170px;
	top: 8px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	font-style: normal;
}

.prio {
	margin-left: 0.6em;
	color: #777;
}

.thumb {
	display: inline-block;
	float: left;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 220px;
}
.thumb:first-child {
	clear: left;
}

.wbr {
	visibility: hidden;
}

.pagelink {
	float: left;
	padding: 3px;
	margin: 2px 2px 2px 2px;
	border: 1px solid #000;
}
.currentpage {
	border: 1px solid #faa;
}
.linkspace {
	border: 0;
}
.pagelink:first-child {
	clear: left;
}

#query-string {
	font-size: 120%;
}
.qword {
	
}
.unknowntag {
	text-decoration: line-through;
}
