body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #00c;
}
a:hover {
	text-decoration: underline;
}

#left {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 150px;
}

#tags {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 150px;
	clear: left;
}
.tag {
	background-color: #f3fff7;
	padding: 0.05em 0.2em 0.05em 0.2em;
}
.implied {
	background-color: #ffedf3;
}
li:nth-child(even).tag {
	background-color: #d7edcc;
}
li:nth-child(even).implied {
	background-color: #ecccd5;
}
.ordered {
	background-image: url(ordered.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.tag ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tag li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.tag li a, #query-string li li a {
	display: block;
	width: 1.1em;
	text-align: center;
	margin: 0;
}
#query-string {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 120%;
}
#query-string li.unknown {
	text-decoration: line-through;
}
#query-string li ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#query-string li {
	float: left;
	margin: 0;
	padding: 0 0.3em 0 0;
	vertical-align: top;
}
#query-string li li {
	font-size: 80%;
	padding: 0;
	visibility: hidden;
}
#query-string li:hover li {
	visibility: visible;
}

#tagdata {
	clear: left;
}

.msgbox {
	border: 2px outset #888;
	padding: 2px 6px 2px 6px;
	background-color: #ddd;
	text-align: center;
	margin-bottom: 8px;
	color: #000;
	display: block;
}
#rescaled-msg {
	color: #b00;
	display: none;
}
#no-resize {
	color: #b00;
}

#main {
	z-index: 2;
	position: absolute;
	left: 170px;
	top: 8px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	font-style: normal;
}
ul h1 {
	margin: 0 0 0.2em 0;
}

h2 {
	font-size: 135%;
	font-weight: bold;
	font-style: normal;
	color: #222;
}

h3 {
	font-size: 110%;
	font-weight: bold;
	font-style: normal;
	color: #333;
}

.prio {
	margin-left: 0.6em;
	color: #777;
}

.thumb {
	display: inline-block;
	float: left;
	width: 220px;
	height: 220px;
	position: relative;
	-o-transition: -o-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}
.thumb:first-child {
	clear: left;
}
.thumb a, .thumb span {
	display: table-cell;
	height: 214px;
	width: 214px;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}
.thumb div {
	z-index: 3;
	position: absolute;
	left: 5px;
	bottom: 10px;
	width: 32px;
	height: 32px;
}
.selected div {
	background: url("selected.png");
}
.selected a {
	background-color: #ccc;
}

img {
	border-style: none;
}

#thumbs {
	clear: both;
}
.pagelinks {
	clear: both;
}
.pagelink {
	float: left;
	margin: 2px 2px 2px 2px;
	border: 1px solid #000;
	padding: 4px 0px 4px 0px;
}
.pagelink a {
	padding: 4px;
}
.currentpage {
	border: 1px solid #faa;
	padding: 4px;
}
.linkspace {
	border: 0;
}
.pagelink:first-child {
	clear: left;
}

form {
	padding: 0;
	margin: 0;
}

.ajaxload {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 6;
}
input {
	display: block;
	margin: 2px 0 2px 0;
}
input[type=text] {
	width: 140px;
}
#search-box {
	float: left;
	margin-right: 15px;
	padding-bottom: 5px;
	position: relative;
}

#tagbar {
	z-index: 5;
	position: fixed;
	left: 5px;
	top: 0px;
	background-color: #cfc;
	border: 2px solid #8c8;
	border-top: none;
	padding: 0;
	display: none;
}
#tagbar input {
	font-size: 100%;
}
#tagbar input[type=submit] {
	margin: 3px 4px 0 4px;
	padding: 0 4px 0 4px;
	background-color: #bfb;
	display: inline;
}
#tagbar input.apply {
	background-color: #efa;
}
#tagbar input.exit {
	background-color: #fca;
	margin-left: 35px;
}
#tagbar img {
	vertical-align: middle;
	visibility: hidden;
	padding-bottom: 2px;
}
#tagbar div {
	padding: 2px;
}
#tagbar div#tmr {
	float: right;
}
#tagbar div#tml {
	float: left;
}
#tagbar div#tmt {
	clear: both;
	margin-right: 13px;
}
#tagbar input[type=text] {
	width: 100%;
	margin: 3px;
}
.createtag {
	border-top: 2px solid #8c8;
	margin-bottom: 2px;
	vertical-align: middle;
}
.createtag input {
	display: inline;
	margin-left: 7px;
}

#suggestions {
	background-color: #adb;
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 6;
}
#suggestions ul {
	list-style-type: none;
	padding: 2px;
	padding-top: 0;
	margin: 0;
}
#suggestions li {
	background-color: #f3fff7;
	border: 1px solid #f3fff7;
	padding: 0.05em 0.5em 0.05em 0.5em;
}
#suggestions li:nth-child(even) {
	background-color: #d7edcc;
	border: 1px solid #d7edcc;
}
#suggestions li.sel {
	background-color: #fff;
	border: 1px solid black;
}

.help {
	background-color: #eafff5;
}

#help {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin: 15px 0 0 0;
	width: 150px;
	clear: left;
}
#help a {
	padding: 2px;
	text-align: center;
	display: block;
}

p {
	margin-left: 12px;
}

.underimg {
	margin: 10px 0 8px 0;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	display: table;
	clear: both;
}
.underimg > div:first-child {
	margin: 4px 0 2px 4px;
}
#ordered {
	padding: 0 8px 0 8px;
}
#ordered > div:first-child:after {
	content: " (ordered tag)";
	color: #444;
}

.dist0 {
	margin: -27px -35px -27px -35px;
	-o-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	z-index: 2;
}

.dist1 {
	margin: 0 -40px -44px -40px;
	-o-transform: scale(0.60);
	-moz-transform: scale(0.60);
	-webkit-transform: scale(0.60);
	transform: scale(0.60);
	z-index: 1;
}
.dist1:hover {
	-o-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	z-index: 3;
}

.dist2 {
	margin: 30px -80px -73px -80px;
	-o-transform: scale(0.33);
	-moz-transform: scale(0.33);
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
	z-index: 0;
}
.dist2:hover {
	-o-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	z-index: 3;
}
