/* This is for specifying the colours you want on tag types */
/* Add whatever tag types you have */

.tt-unspecified {
	color: #777778;
}
.tt-ambiguous {
	color: #ff0000;
}
.tt-meta {
	color: #00aa00;
}
.tt-inimage {
	color: #000000;
}
.tt-photographer {
	color: #cc99ff;
}
.tt-person {
	color: #0000ff;
}
.tt-location {
	color: #33aaff;
}
.tt-group {
	color: #ccb000;
}
